@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> WELCOME TO ASIA </h1>
    <p>
        Learn about <a href="https://www.youtube.com/watch?v=UWKhvzdnctY"> Asia's Famoust Tourist Spot'</a>.
        </p>
</div>
